GEMINI_API_KEY=
NOTION_TOKEN=
NOTION_COMPANIES_DS=9ca7346e-d720-4edf-b5f6-abec332e30c8
NOTION_SCHEDULE_DS=60eba6a1-b179-448f-8df4-035c6e7471b1
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
